<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>843216091731-0edss7lk9ec8v0c1re1n9rt5up8gg1pl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843216091731-0edss7lk9ec8v0c1re1n9rt5up8gg1pl</string>
	<key>API_KEY</key>
	<string>AIzaSyBhFvYFgpa4cu4BngMeWSYm2os1vWtyCr4</string>
	<key>GCM_SENDER_ID</key>
	<string>843216091731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.calpoly.crrangel.CBM</string>
	<key>PROJECT_ID</key>
	<string>contractor-s-business-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>contractor-s-business-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843216091731:ios:2d9102bc246e02d8</string>
	<key>DATABASE_URL</key>
	<string>https://contractor-s-business-manager.firebaseio.com</string>
</dict>
</plist>